<html>
	<head>
		<title class="title-style">Catalog</title>
		<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="topdiv-style" >
			<table class="topdiv-tbl-style" >
				<tr>
					<td class="topdiv-tbl-col1-style" >Catalog App</td>
					<td class="topdiv-tbl-col2-style" >
					{% if IsLoggedIn == True %}  
					<input onclick="location.href = '{{url_for('signout')}}';" class="button-style" id="Button1" type="button" value="Signout" />.					
					{% else %}  
					<input onclick="location.href = '{{url_for('showLogin')}}';" class="button-style" id="Button1" type="button" value="Login" />
					{% endif %}
					</td>
				</tr>
			</table>
		</div>
		<div class="bottom-div-style" >
			&nbsp;
			&nbsp;
			<table class="bottom-div-tbl-style">
					<tr>
						<th class="bot-tbl-hdr"> New Item Details </th>
					</tr>
					<tr>
						<td>
							<div>
								<form action={{url_for('addItem', categoryid=categoryid)}} method="post">
								<input type="hidden" name="itemid">	
								<input type="hidden" name="userid" value ={{ CurrentUser }}>
								<input type="hidden" name="categoryid" value={{ categoryid }}>
								Item name:<br>
								<input type="text" name="itemname"> <br><br>
								Category:<br>
								<input class="read-only-style" Readonly type="text" name="categoryname" value ={{ categoryname }}> <br><br>
								Description:<br>
								<textarea rows="4" cols="50" name="description"></textarea><br><br>
								<input type="submit" value="Submit"> 
								</form>
								</div>
							</td>
						</tr>
			</table>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
		</div>
	</body>
</html>